.list {
  align-content: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: space-between;
  list-style: none;
  grid-column-gap: 20px;
  width: 100%;
}
